.expoLogoBackground {
  background-image: linear-gradient(180deg, #a69c7d, #6b7353);
  border-radius: 40px;
  width: 128px;
  height: 128px;
}

@media (prefers-color-scheme: dark) {
  .expoLogoBackground {
    background-image: linear-gradient(180deg, #c4b896, #9cab7e);
  }
}
